*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // Задача - 1rem === 10px, стандартный шрифт 16px => 1rem = 10/16 = 0.625
    // 10px/16px = 0.625 - теперь 1 rem === 10px
    font-size: 62.5%;

    @include respond(tap-land){
        font-size: 56.25%; //1rem = 9px тк 9/16
    }
    @include respond(tab-port){
        font-size: 50%; //1rem = 8px тк 8/16
    }
    @include respond(big-desktop){
        font-size: 75%; //1rem = 12px тк 12/16
    }
}

body {
    /* (*) но на всем body - border-box */
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port){
        padding: 0;
    }

}

::selection{
    background-color: $color-primary;
    color: $color-white;
}